.Carrusel{
    display: 'inline-block';
    max-width: 1500px; 
    max-height: 2000px;
    min-width: 500px;
    min-height: 400px;
    top: 10px;
    padding: 30;
    bottom: 30px;
    position: relative;
    margin: auto;
    z-index: 1;
  }
  
  .Carrusel h4{
    max-width: 500px;
    max-height: 200px;
    color: #e9e0d0;
    margin: center auto;
    padding: 10px 10px 10px 5px;
    display:inline-block;
  }
  
  .Carrusel img{
    max-width: 1000px;
    max-height: 600px;
    object-fit: cover;
    margin: auto;
  }

  @media (max-width: 1000px) {
    .Carrusel img{
      max-width: 500px;
      max-height: 300px;
      object-fit: cover;
      margin: auto;
    }
  }