@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import "../../utils/vars.css";

.logo  {
  background-image: url("../../assets/logo/firma-logo.png");
  background-size: 90% 90%;
  background-repeat: no-repeat;
  display: inline-block;
  position: relative;
  width: 150px;
  height: 100PX;
  text-indent: -99999px;
  top: -15px;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar {
  height: 100px;
  /*background-color: var(--color-primary);*/
  background-color: #30838F;
  position: relative;
  z-index: 1500;

}


.titulo h1 {
  text-align:center; 
  font-size:50px; 
  text-transform:uppercase; 
  color: var(--color-text);
  /* color:#222; */ 
  letter-spacing:1px;
  font-family:"Playfair Display", serif; 
  font-weight:400;
}

.titulo h1 a {
  text-decoration: none;
  color: var(--color-text);
  /*color:#222;*/
}

.titulo h1 span {
  margin-top: 5px;
  font-size:15px; 
  color:#444; 
  word-spacing:1px; 
  font-weight:normal; 
  letter-spacing:2px;
  text-transform: uppercase; 
  font-family:"Raleway", sans-serif; 
  font-weight:500;
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  grid-template-rows: 27px 0;
  grid-gap: 20px;
  align-items: center;
}

.titulo h1 span:after, .titulo h1 span:before {
    content: " ";
    display: block;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    height: 5px;
  background-color:#f8f8f8;
}



.menu-icon {
  display: none;
  
}

.nav-elements ul {
  font-family:"Playfair Display", serif;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.nav-elements ul li:not(:last-child) {
  margin-right: 60px;
}

.logo a {
  cursor: pointer;
}

.nav-elements ul a {
  font-size: 20px;
  font-weight: 400;
  color:  var(--color-text);
  text-decoration: none;
}

.nav-elements ul li a:hover {
  color: #6e45dc;
  background-color: #539fabf1;
}

.nav-elements ul a.active {
  color: #a1bee9ee;
  font-weight: 500;
  position: relative;
}

.nav-elements ul a.active::after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #574c4c;
}

@media (max-width: 1150px) {
  .nav-elements ul li:not(:last-child) {
    margin-right: 30px;
  }
}

@media (max-width: 1000px) {
  .menu-icon {
    display: block;
    cursor: pointer;
  
  }

  .nav-elements {
    position: absolute;
    right: 0;
    top: 100px;
    background-color: #30838F;
    width: 0px;
    height: calc(100vh - 60px);
    transition: all 0.3s ease-in;
    overflow: hidden;
  }

  .nav-elements.active {
    width: 200px;
  }

  .nav-elements ul {
    display: flex;
    flex-direction: column;
  }

  .nav-elements ul li {
    margin-right: unset;
    margin-top: 22px;
  }
}