.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #30838F;
    color: #fff;
    height: 100px;
    z-index: 1500;
  }

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
  
  .logo  {
    background-image: url("../../assets/logo/firma-logo.png");
    background-size: 90% 90%;
    background-repeat: no-repeat;
    display: inline-block;
    position: relative;
    width: 150px;
    height: 100PX;
    text-indent: -99999px;
    top: -10px;
  }
  
  .titulo h1 {
    text-align:center; 
    font-size:50px; 
    text-transform:uppercase; 
    color: var(--color-text);
    /* color:#222; */ 
    letter-spacing:1px;
    font-family:"Playfair Display", serif; 
    font-weight:400;
  }
  
  .titulo h1 a {
    text-decoration: none;
    color: var(--color-text);
    /*color:#222;*/
  }
  
  .titulo h1 span {
    margin-top: 5px;
    font-size:15px; 
    color:#F2EBE3; 
    word-spacing:1px; 
    font-weight:normal; 
    letter-spacing:2px;
    text-transform: uppercase; 
    font-family:"Raleway", sans-serif; 
    font-weight:500;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-template-rows: 27px 0;
    grid-gap: 20px;
    align-items: center;
  }
  
  .titulo h1 span:after, .titulo h1 span:before {
      content: " ";
      display: block;
      border-bottom: 1px solid #ccc;
      border-top: 1px solid #ccc;
      height: 5px;
    background-color:#f8f8f8;
  }
  
  .burger {
    display: none;
    cursor: pointer;
    padding: 0 0 0 10px;
  }
  
  .burger-line {
    width: 30px;
    height: 4px;
    background-color: #fff;
    margin-bottom: 5px;
    transition: all 0.3s ease;
  }
  
  .burger-line.open {
    transform: rotate(45deg);
  }
  
  .burger-line.open:nth-child(1) {
    transform: rotate(45deg) translate(7px, 7px);
  }
  
  .burger-line.open:nth-child(2) {
    opacity: 0;
  }
  
  .burger-line.open:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }
  
  .nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    font-family:"Playfair Display", serif;
    display: flex;
    list-style-type: none;;
  }
  
  .nav-links li {
    margin-right: 20px;
  }
  
  .nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
  }
 
  .logo a {
    cursor: pointer;
  }
  

  .nav-links li a:hover {
    color: #F2EBE3;
    background-color: #539fabf1;
  }
  
  .nav-links a.active {
    color: #F2EBE3;
    font-weight: 500;
    position: relative;
  }
  
  .nav-links a.active::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: black;
  }
  
  .dropdown {
    position: relative;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    list-style: none;
    background-color: #30838F;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Responsive design */
  @media (max-width: 1000px) {
    .burger {
      display: block;
    }
    .nav-links {
      display: none;
      flex-direction: column;
      align-items: flex-start;
      position: absolute;
      top: 100%;
      right: 0;
      background-color: #30838F;
      padding: 10px;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }
    .nav-links.open {
      display: flex;
    }
    .nav-links li {
      margin-left: 0;
    }
    .dropdown-content {
      position: absolute;
      background-color: #30838F;
      right: 70px;
      top: -5px;
    }
  }